@font-face {
    font-family: 'DS Eraser Cyr';
    src: url('../fonts/DSEraserCyr.eot');
    src: url('../fonts/DSEraserCyr.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DSEraserCyr.woff2') format('woff2'),
    url('../fonts/DSEraserCyr.woff') format('woff'),
    url('../fonts/DSEraserCyr.ttf') format('truetype'),
    url('../fonts/DSEraserCyr.svg#DSEraserCyr') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    background: #404040 url(../images/background.jpg) no-repeat fixed;
    background-size: 100%;
}
* {
    font-family: DS Eraser Cyr; font-weight: normal; font-style: normal;
    color: #ffffff;
}
h1 {
    color: #ffd471;
    text-align: center;
}
h3 {
    padding-top: 7px;
    color: #a7a7a7;
}
.wrapper {
    width: 700px;
    margin: auto;
}
input {
    background-color: #333333;
    border-radius: 5px;
}
#new-task {
    width: 530px;
}
.buttonheader {
    background: none;
    border: none;
    outline: none;
}
.buttonheader:hover {
    background: url(../images/headerbutthover.png);
}
.act {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
button.checkbox {
    background: url(../images/check.png);
    background-size: cover;
    border: none;
    width: 50px;
    height: 50px;
    transition: 0.5s;
}
button.checkbox:hover {
    background: url(../images/check_hover.png);
    background-size: cover;
}
i.on {
    background: url(../images/checkon.png);
    background-size: cover;
    width: 45px;
    height: 45px;
    padding: 17px 20px;
    margin-left: -10px;
}
i.off {
    background: url(../images/checkoff.png);
    background-size: cover;
    padding: 17px 20px;
    margin-left: -10px;
}
i.del {
    background: url(../images/del.png);
    background-size: cover;
    width: 45px;
    height: 45px;
    padding: 17px 20px;
    margin-left: -10px;
    transition: 0.8s;
}
i.del:hover {
    background: url(../images/del_hover.png);
    background-size: cover;
}
button.delete {
    background: url(../images/check.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
    transition: 0.5s;
}
button.delete:hover {
    background: url(../images/delete_hover.png);
    background-size: cover;
}
ul {
    margin: 5px 0;
    list-style-type: none;
}
li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#finished-tasks label {
    text-decoration: line-through;
    color: #868686;
}
#finished-tasks, #unfinished-tasks {
    padding: 0px;
}
